@import "tailwindcss";

.button {
  @apply rounded-lg font-semibold px-3 py-2 bg-gray-100 border border-gray-200;
  @apply hover:bg-gray-200;
}

.grid {
  @apply flex flex-col gap-3;
}

.card {
  @apply rounded-lg border border-gray-200; 
  @apply hover:bg-gray-100;
}

.badge {
  @apply text-sm text-gray-800 rounded-full border border-gray-200;
  @apply bg-gray-100 py-0.5 px-1.5;
}

.title {
  @apply text-2xl font-bold;
}

.text-input {
  @apply border border-gray-200 rounded p-2;
}

.input-label {
  @apply text-gray-600;
}
