@import "tailwindcss";

.button {
  @apply rounded-lg font-semibold px-3 py-2 bg-gray-100 border border-gray-200;
  @apply hover:bg-gray-200;
}

.grid {
  @apply flex flex-col gap-6;
}

.card {
  @apply rounded-lg border border-gray-200; 
  @apply hover:bg-gray-100;
}
