<div id="recipe_actions" class="flex items-center gap-2">
  <%= button_to toggle_favorite_recipe_path(recipe),
        method: :patch,
        class: "p-2 rounded hover:bg-gray-100 #{Current.user.favorite_recipes_list.include?(recipe) ? 'text-red-500' : 'text-gray-400'}",
        title: Current.user.favorite_recipes_list.include?(recipe) ? "Remove from favorites" : "Add to favorites" do %>
    <%= lucide_icon('heart', class: 'h-5 w-5') %>
  <% end %>
</div>
