<% if recipes.any? %>
  <div>
    <% if title.present? %>
      <h2 class="font-bold text-xl"><%= title %></h2>
    <% end %>
    <ul class="flex flex-col">
      <%= render recipes %>
    </ul>
  </div>
<% end %>
