<p><em>Recipe is being generated... Please refresh the page in a few moments.</em></p>

<table>
  <tr>
    <td><strong>Your Request:</strong></td>
    <td><%= simple_format(recipe.prompt) %></td>
  </tr>
</table>
