<% if images.attached? %>
  <% images_array = images.to_a %>
  <% cover_image = images_array.first %>
  <% additional_images = images_array.drop(1) %>

  <div class="flex flex-col gap-2" data-controller="photoswipe">
    <%# Cover image - full width %>
    <%= link_to rails_blob_path(cover_image, disposition: "inline"),
                class: "relative block aspect-[4/3] w-full rounded overflow-hidden",
                data: { pswp_width: cover_image.metadata[:width] || 1200, pswp_height: cover_image.metadata[:height] || 1200 } do %>
      <%= render "shared/skeleton_image",
                 image: cover_image,
                 variant_options: { resize_to_limit: [800, 600] },
                 image_class: "cursor-zoom-in",
                 image_options: { fetchpriority: "high" } %>
    <% end %>

    <%# Additional images - square grid %>
    <% if additional_images.any? %>
      <div class="grid grid-cols-4 gap-2">
        <% additional_images.each do |image| %>
          <%= link_to rails_blob_path(image, disposition: "inline"),
                      class: "relative block aspect-square w-full rounded overflow-hidden",
                      data: { pswp_width: image.metadata[:width] || 1200, pswp_height: image.metadata[:height] || 1200 } do %>
            <%= render "shared/skeleton_image",
                       image: image,
                       variant_options: { resize_to_fill: [200, 200] },
                       image_class: "cursor-zoom-in" %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
