  <div class="card flex flex-col overflow-hidden">
    <%= link_to coffee_bean_link(coffee_bean), class: "flex gap-2" do %>
      <div class="relative h-24 w-24 shrink-0">
        <%= render "shared/skeleton_image",
                   image: coffee_bean.images.first,
                   variant_options: { resize_to_fill: [192, 192] } %>
        <%= render "coffee_beans/coffee_bean_loading", coffee_bean: coffee_bean %>
      </div>
      <%= render "coffee_beans/coffee_bean_info", coffee_bean: coffee_bean %>
    <% end %>
</div>

