<%= link_to coffee_bean do %>
  <div class="card flex gap-2 overflow-hidden">
    <div class="relative h-24 w-24">
      <%= render "shared/skeleton_image",
                 image: coffee_bean.images.first,
                 variant_options: { resize_to_fill: [192, 192] } %>
      <%= render "coffee_beans/coffee_bean_loading", coffee_bean: coffee_bean %>
    </div>

    <%= render "coffee_beans/coffee_bean_info", coffee_bean: coffee_bean %>
  </div>
<% end %>
