<%= turbo_stream_from "coffee_beans" %>

<div class="w-full flex justify-between items-center">
  <h1 class="title">Coffee beans</h1>
  <%= link_to '+ Add Coffee Bean', new_coffee_bean_path, class: "button" %>
</div>

<div class="grid-custom">
  <%= render @coffee_beans %>
</div>

