<% flash.each do |type, message| %>
  <% css_class = case type.to_sym
    when :notice, :success then "bg-green-100 border-green-400 text-green-700"
    when :alert, :error then "bg-red-100 border-red-400 text-red-700"
    else "bg-blue-100 border-blue-400 text-blue-700"
  end %>
  <div class="border px-4 py-3 rounded <%= css_class %>" role="alert">
    <span><%= message %></span>
  </div>
<% end %>
